@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
@*css cho dangnhapdangky*@
<link href="~/Content/csswebbansach/css-nguoidunglayout.css" rel="stylesheet" />

<h2>Thông tin liên hệ</h2>
<p>
    bansachMVC5.somee.com
</p>
<p>
    293 Lũy Bán Bích, Hiệp Tân, Tân Phú, Tp.HCM
</p>
<p>
    0948093707
</p>
<p>
   nguyenphilong747@gmail.com
</p>
<style>
    #AnhBia, #TenSach, #DonGia {
        margin-top: 20px;
        margin-left: 40px;
    }

    li {
        margin: 10px;
        font-size: 20px;
        height: 40px;
        width: 40px;
        border: 1px solid;
        text-align: center;
        background-color: white;
    }

        li:hover {
            margin: 10px;
            font-size: 20px;
            height: 40px;
            width: 40px;
            border: 1px solid;
            text-align: center;
            background-color: lightgray;
            color: black;
        }
</style>