@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
@*css cho dangnhapdangky*@
<link href="~/Content/csswebbansach/css-nguoidunglayout.css" rel="stylesheet" />
<link href="~/Content/csswebbansach/style.css" rel="stylesheet" />


<h2>Giới thiệu</h2>
<p>     Sách giúp chúng ta có được những phút giây thư giãn thật thoải mái và hiệu quả,
     mang lại cho ta những tiếng cười sảng khoái và hữu ích. Qua những câu chuyện, bài viết, 
    con người được chu du thả mình vào những khoảng không gian tĩnh lặng với những ước mơ,
     khát vọng mà trong cuộc sống thực tại chưa hẳn đã có được. Ngoài ra, những cuốn sách hay còn đưa ra những lời khuyên bổ ích 
    và cách thức vượt qua áp lực, mệt mỏi để sống vui vẻ và hạnh phúc hơn. Đó cũng là liều thuốc bổ giúp con người ta bình lặng
     và hồi phục sau những tổn thương về mặt tinh thần.</p>
<style>
    #AnhBia, #TenSach, #DonGia {
        margin-top: 20px;
        margin-left: 40px;
    }

    li {
        margin: 10px;
        font-size: 20px;
        height: 40px;
        width: 40px;
        border: 1px solid;
        text-align: center;
        background-color: white;
    }

        li:hover {
            margin: 10px;
            font-size: 20px;
            height: 40px;
            width: 40px;
            border: 1px solid;
            text-align: center;
            background-color: lightgray;
            color: black;
        }
</style>